* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: teal;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  width: 70%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 20px;
  color: white;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card-wrapper .card {
  width: 80px;
  height: 80px;
  margin: 10px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 250, 247);
  border-radius: 5px;
}

.card-wrapper .card:hover {
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 1);
}

.card.fizz-buzz-card {
  background-color: yellowgreen;
  color: white;
}

.card.fizz-card {
  background-color: sandybrown;
}

.card.buzz-card {
  background-color: plum;
}
